@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>
        Kaizen Maintenance
    </h1>
</div>
<div class="panel panel-info">
    <div class="panel-heading">

    </div>
    <div class="panel-body">
        <p class="text-info">
            Aqui podras registrar todos tus equipos y establecer el periodo de sus respectivos mantenimientos.
        </p>
    </div>
</div>